<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rodolfoizidoro.meucontato">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".application.MeuContatoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="e6e179190b1902227d6bf6f81bd409291a11566a"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".view.activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".view.activity.FilterCityActivity">
        </activity>
        <activity
                android:name=".view.activity.LoginActivity">
        </activity>
        <activity
                android:name=".view.activity.MeetupDetailActivity"
                android:launchMode="singleTop">
        </activity>
        <activity
                android:name=".view.activity.InfoDetailActivity"
                android:label="@string/activity_info_label"
                android:parentActivityName=".view.activity.MainActivity">
        </activity>
        <activity
                android:label="@string/activity_edit_profile_label"
                android:name=".view.activity.ProfileDetailActivity">
        </activity>
        <activity
                android:name=".view.activity.QrCodeActivity">
        </activity>
        <activity
                android:label="@string/activity_contact_info_label"
                android:name=".view.activity.ContactInfoActivity">
        </activity>
    </application>

</manifest>
